


/* Styling for the main box */
.borderGradient {
    position: relative;
    border-radius: 20px;
}

/* Styling for the gradient animation on the main box */
.borderGradient::before {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a),
            rgb(22, 188, 254),
            rgb(21, 170, 228),
            rgb(18, 160, 216),
            rgb(18, 133, 216));
            /* #0f0,
            #ff0,
            #0ff,
            #f0f,
            #0ff); */
    border-radius: 20px;
    animation: rotating 4s linear infinite;
    /* Applying rotation animation */
}

/* Styling for the blurred gradient on the main box */
.borderGradient::after {
    content: "";
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a),
            rgb(22, 188, 254),
            rgb(21, 170, 228),
            rgb(18, 160, 216),
            rgb(18, 133, 216));
            /* #0f0,
            #ff0,
            #0ff,
            #f0f,
            #0ff); */
    border-radius: 20px;
    animation: rotating 4s linear infinite;
    /* Applying rotation animation */
    filter: blur(40px);
    opacity: 0.75;
}

/* Styling for the inner span within the main box */
.borderGradient span {
    position: absolute;
    inset: 4px;
    background: #222;
    /* Setting background color */
    border-radius: 16px;
    z-index: 1;
    /* opacity: 0; */
    /* Uncomment to hide the inner span */
}

/* Custom property for the rotation angle */
@property --a {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

/* Keyframes for the rotating animation */
@keyframes rotating {
    0% {
        --a: 0deg;
    }

    100% {
        --a: 360deg;
    }
}

/* Styling for the text inside the nested box borderGradient