main{
    color: whitesmoke;
    background-color: rgb(37, 42, 37);
}

.container{
    border-radius: 20px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background: linear-gradient(358deg, #000000, #f4f2f200);
    
}



.bigName h1{
    margin: 10px 0px;
    font-size: 55px;
    
}

.shortIntro{
    color: rgb(112, 112, 112);
    margin-left: auto;
    margin: 15px 0px;
    padding-right: 20vw;
    transition: color 0.5s;
    /* width: fit-content; */
}


.shortIntro:hover{
    color: white;
}

.buttons{
    margin-top: 30px;
    display: flex;
}

.button1{
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    border: 2px solid #00aaff;
    background-color: #00aaff;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.button1:hover{
    background-color: #008ecc;
    /* border: 2px solid #008ecc; */
}


.button1:active {
  box-shadow:  0 0 10px #00aaff,
               0 0 20px #00aaff,
               0 0 40px #00aaff;
  /* transform: scale(0.98);  */
}

.button2{
    margin-right: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #171717;
    border: 2px solid #707070;
    color: #707070;
    font-weight: 600;
    cursor: pointer;
}

.button2:hover{
    /* background-color: #00aaff; */
    border: 2px solid white;
    color: white;
}


.button2:active{
  box-shadow: 0 0 10px #ffffff,
              0 0 20px #ffffff,
              0 0 40px #ffffff;
}


.extrainfo{
    border-radius: 10px;
    margin: 30px 0px;
    display: flex;
    /* align-items: center; */
    padding: 15px;
    /* border: 2px solid white; */
    width: fit-content;
    background-color: #212122;
    transition: box-shadow 0.4s ease, transform 0.4s ease;
}

.extrainfo div{
    padding-right: 43px;
    text-align: center;
    width: 33%;
    z-index: 50;
}

.experience, .projects{
    border-right: 2px solid #00aaff;
    border-right: 2px solid #4c4d4d;
    
}

.num{
    margin-bottom: 8px;
    color: #00aaff;
}



.image img{
    border-radius: 50%;
    border: 3px solid white;
}




.skills{
    border-radius: 20px;
    margin: 20px 0px;
    padding: 30px;
    /* background: linear-gradient(358deg, #000000, #f4f2f200);
     */
    background-color: #0C0D0C;
}

.skills h1{
    color: #00aaff;
    margin: 10px auto;
    font-size: 55px;
    display: flex;
    justify-content: center;
    width: fit-content;
    border-radius: 20px;
    padding: 20px 40px;
}

.skills h1 div{
    z-index: 5;
}


.skillsCards{
    margin: 17px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.skillCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
    margin-bottom: 20px;
    width: 150px;
    height: 150px;
    /* border: 2px solid white; */
    border-radius: 10px;
    z-index: 50;
    background-color: #212122;
}

.skillCard:active{
    box-shadow: 0 0 10px #00aaff,
            0 0 20px #00aaff,
            0 0 40px #00aaff;
}

.skillCard img{
    margin-top: 20px;
    width: 80px;

    z-index: 1050;

}


.skillCard div{
    z-index: 51;
    margin: 10px 0px;
}



/* project */


.projects-section{
    /* position: relative; */
    z-index: 105;
    border-radius: 20px;
    margin: 10px 0px;
    padding: 20px;
    /* background: linear-gradient(358deg, #000000, #f4f2f200);
     */
    background-color: #0C0D0C;
}

.projects-section > h1{
    color: #00aaff;
    margin: 10px auto;
    font-size: 55px;
    display: flex;
    justify-content: center;
    width: fit-content;
    border-radius: 20px;
    padding: 20px 40px;
    z-index: 1;
    position: relative;
}


.project-card{
    border-radius: 10px;
    z-index: 51;
    background-color: #222222;
    margin: 40px 20px;
    padding: 25px;
    z-index: 50;
    cursor:pointer;
    background: linear-gradient(45deg, #010203, #353b471f);
    border: 2px solid #a0a4a580;
}

.project-card:active{
    box-shadow: 0 0 10px #00aaff,
                0 0 20px #00aaff,
                0 0 40px #00aaff;
}



.projects-card-img img{
    width: 100%;
    height: 30vh;
    border-radius: 10px;
    object-fit: cover;
    margin-bottom: 20px;
    z-index: 50;
    position: relative;
}



.projectcardHeadline{
    z-index: 50;
    position: relative;
}

.description{
    margin: 20px 0px;
    /* padding: 0px 20px; */
    color: rgb(150, 150, 150);
    /* text-align: center; */
    z-index: 50;
    position: relative;
}

.logos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    z-index: 50;
    align-items: center;
}


.logo img{
    width: 40px;
    height: 40px;
    z-index: 51;
    margin: 0px 10px;
    position: relative;

}

.shasthobondhu .projects-card-img img{
    object-position: 0% 18%; 
    height: 37vh;
}



