*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: poppins, sans-serif;
}

body{
  background-color: rgb(37, 42, 37);
}

a{
  color: inherit;
  text-decoration: none;
}

header{
  z-index: 99;
  /* height: 100px; */
  position: sticky;
  top: 0;
  left: 0;
  color: white;
  background: #171717;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

nav{
  z-index: 100;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 10px;
  /* position: sticky;
  top: 0;
  left: 0; */
  width: 100%;
  background: #171717;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}






.name{
  cursor: pointer;
  font-size: 25px;
  margin-left: 5px;
  font-weight: 600;
}

.jubayercolor{
  /* color: #275fe2; */
  color: #00aaff;
}

nav ul{
  margin-left: 30px;
  display: flex;
  font-weight: 700;
}

nav ul li:nth-child(2){
  /* color: #275fe2; */
  color: #00aaff;
}

.cross{
  display: none;
}

nav ul li{
  margin: 0 15px;
  font-size: 18px;

  cursor: pointer;
}

.navShower{
  display: none;
}

.socialLinks{
  display: flex;
}

.socialLinks div{
  margin: 0px 5px;
  cursor: pointer;
  font-size: 20px;
}


.facebook:hover{
  color: #0866FF;
  transition: 0.3s;
}

.twitter:hover{
  color: #58b6f0;
  transition: 0.3s;
}

.linkedin:hover{
  color: #0e76a8;
  transition: 0.3s;
}

.github:hover{
  color: #6cc644;
  transition: 0.3s;
}

.gmail:hover{
  color: #e41b1b;
  transition: 0.3s;
}

/* ===== Base Style ===== */
.glow-text-blue,
.glow-text-red,
.glow-text-green {
  cursor: pointer;
  transition: all 0.3s ease;
}

/* ===== BLUE Glow ===== */
.glow-text-blue:active {
  color: #00aaff;
  text-shadow: 0 0 10px #00aaff,
               0 0 20px #00aaff,
               0 0 40px #00aaff;
}

/* ===== RED Glow ===== */
.glow-text-red:active {
  color: #ff3333;
  text-shadow: 0 0 10px #ff3333,
               0 0 20px #ff3333,
               0 0 40px #ff3333;
}

/* ===== GREEN Glow ===== */
.glow-text-green:active {
  color: #33ff33;
  text-shadow: 0 0 10px #33ff33,
               0 0 20px #33ff33,
               0 0 40px #33ff33;
}


.glow-text-white:active {
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff,
               0 0 20px #ffffff,
               0 0 40px #ffffff;
}

.glow-text-darkblue:active {
  color: #0011ff;
  text-shadow: 0 0 10px #0011ff,
               0 0 20px #0011ff,
               0 0 40px #0011ff;
}




@media screen and (min-width: 357px) and (max-width: 1143px) {


  nav{
    /* height: 180px; */
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .name{
    margin: 20px 30px 20px 10px;
    text-align: left;
    font-weight: 600;
    font-size: 30px !important;
  }
  

  nav ul{
    display: none;
    z-index: 10000;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 500px;
    background-color: #0000004a;
    backdrop-filter: blur(5px);
    /* padding: 60px 80px 0px 10px; */
    padding: 15px 90px 0px 10px;
  }

  nav ul .cross{
    display: block;
    margin-bottom: 30px;
  }

  nav ul >li{
    margin: 10px 0px 10px 10px;
  }
  .navShower{
    display: block;
    margin: 20px 20px 20px 0px;
    cursor: pointer;
  }

  .socialLinks{
    margin-top: 30px;
  }

  .show{
    display: flex !important;
  }

}

@media screen and (max-width: 501px) {

  header{
    height: auto;
  }

  nav{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .name{
    margin: 20px 30px 20px 0px;
    text-align: left;
    font-weight: 600;
    font-size: 25px !important;
  }

  nav ul{
    display: none;
    z-index: 10000;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    height: 500px;
    background-color: #0000004a;
    backdrop-filter: blur(5px);
    /* padding: 60px 80px 0px 10px; */
    padding: 15px 90px 0px 10px;
  }

  nav ul .cross{
    display: block;
    margin-bottom: 30px;
  }

  nav ul >li{
    margin: 10px 0px 10px 10px;
  }


  /* nav ul{
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
  }

  nav ul li{
    margin: 7px 0px;
  } */

  /* .socialLinks{
    margin: 20px 0px;
  } */



  .navShower{
    display: block;
    margin: 20px 0px;
    cursor: pointer;
  }

  .show{
    display: flex !important;
  }

}
