*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: poppins, sans-serif;
}

body{
  background-color: rgb(37, 42, 37);
}

a{
  color: inherit;
  text-decoration: none;
}

header{
  z-index: 99;
  /* height: 100px; */
  position: sticky;
  top: 0;
  left: 0;
  color: white;
  background: #171717;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

nav{
  z-index: 100;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 0 10px;
  /* position: sticky;
  top: 0;
  left: 0; */
  width: 100%;
  background: #171717;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}






.name{
  cursor: pointer;
  font-size: 25px;
  margin-left: 5px;
  font-weight: 600;
}

.jubayercolor{
  /* color: #275fe2; */
  color: #00aaff;
}

nav ul{
  margin-left: 0px 30px;
  display: flex;
  font-weight: 700;
}

nav ul li:first-child{
  /* color: #275fe2; */
  color: #00aaff;
}

nav ul li{
  margin: 0 15px;
  font-size: 18px;

  cursor: pointer;
}

.socialLinks{
  display: flex;
}

.socialLinks div{
  margin: 0px 5px;
  cursor: pointer;
  font-size: 20px;
}


.facebook:hover{
  color: #0866FF;
  transition: 0.3s;
}

.twitter:hover{
  color: #58b6f0;
  transition: 0.3s;
}

.linkedin:hover{
  color: #0e76a8;
  transition: 0.3s;
}

.github:hover{
  color: #6cc644;
  transition: 0.3s;
}

.gmail:hover{
  color: #e41b1b;
  transition: 0.3s;
}

/* ===== Base Style ===== */
.glow-text-blue,
.glow-text-red,
.glow-text-green {
  cursor: pointer;
  transition: all 0.3s ease;
}

/* ===== BLUE Glow ===== */
.glow-text-blue:active {
  color: #00aaff;
  text-shadow: 0 0 10px #00aaff,
               0 0 20px #00aaff,
               0 0 40px #00aaff;
}

/* ===== RED Glow ===== */
.glow-text-red:active {
  color: #ff3333;
  text-shadow: 0 0 10px #ff3333,
               0 0 20px #ff3333,
               0 0 40px #ff3333;
}

/* ===== GREEN Glow ===== */
.glow-text-green:active {
  color: #33ff33;
  text-shadow: 0 0 10px #33ff33,
               0 0 20px #33ff33,
               0 0 40px #33ff33;
}


.glow-text-white:active {
  color: #ffffff;
  text-shadow: 0 0 10px #ffffff,
               0 0 20px #ffffff,
               0 0 40px #ffffff;
}

.glow-text-darkblue:active {
  color: #0011ff;
  text-shadow: 0 0 10px #0011ff,
               0 0 20px #0011ff,
               0 0 40px #0011ff;
}




@media screen and (min-width: 357px) and (max-width: 1143px) {
  header{
    height: 180px;
  }

  nav{
    height: 180px;
    flex-direction: column;
    justify-content: normal;
  }

  .name{
    margin-top: 15px;
  }

  nav ul{
    margin-top: 30px;
  }

  .socialLinks{
    margin-top: 30px;
  }

}

@media screen and (max-width: 501px) {

  header{
    height: auto;
  }

  nav{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: normal;
  }

  .name{
    margin-top: 15px;
    text-align: center;
    font-weight: 600;
  }

  nav ul{
    margin-top: 15px;
    flex-direction: column;
    align-items: center;
  }

  nav ul li{
    margin: 7px 0px;
  }

  .socialLinks{
    margin: 20px 0px;
  }

}
